.body {
  background-color: antiquewhite;
  width: 100%;
  border: -20px;
  padding: 0px;
  margin: 0px;
}

.name-div {
  width: 100%;
  height: 30vh;
  background-color: rgb(146, 146, 196);
}

/* .name-div:hover {
  background-color: rgb(2, 2, 36);
  cursor: pointer;
} */

.name {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 35px;
  color: rgb(2, 2, 36);
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-size: 70px;
  font-style: normal;
}

.helloDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
}

/* .name:hover {
  color: rgb(146, 146, 196);
} */

.surname-div {
  width: 100%;
  height: 48vh;
  background-color: rgba(3, 12, 43, 0.943);
}

/* .surname-div:hover {
  cursor: pointer;
  background-color: rgb(145, 140, 163);
  color: rgb(1, 8, 31);
} */

.surname {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 10px;
  color: rgb(211, 200, 252);
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
}
/* 
.surname:hover {
  color: rgb(1, 8, 31);
} */

.navbar h1 {
  font-family: "Anton", sans-serif;
  font-weight: 100;
  font-size: 25px;
  font-style: normal;
  padding-left: 10px;
}

.menu ul {
  list-style: none;
  text-decoration: none;
}

.nav-list {
  /* padding-top: 3px; */
  /* padding-bottom: 3px; */
  margin-bottom: 0rem;
}

.nav-list a {
  /* padding-top: 10px; */
  text-decoration: none;
  color: black;

  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* .welcome-note {
  background-color: rgb(248, 251, 189);
} */

.developerDiv {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 40px;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 50px;
  font-style: normal;
  text-align: center;
}

.scroll a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.scroll {
  /* border: 2px solid black; */
  padding: 20px 0px;
  border-radius: 10%;
  text-align: center;

  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.projectRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1%;
}

.welcome-note {
  background-color: antiquewhite;
  padding: 5px;

  text-align: center;
  color: black;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 180%;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list-items {
  text-align: center;
}

.navbar-list h1 {
  margin-bottom: 0rem;
}

.personalInfo {
  /* width: 100%; */
  /* height: 70vh; */
  display: block;
  border: 2px solid rgba(3, 12, 43, 0.943);
  border-radius: 2%;
}

.img-intro {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
.intro-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border-radius: 100%; */
  box-shadow: 50%;
  /* height: fit-content; */
}

.text-intro {
  text-align: center;
  /* font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium; */
  /* font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: large; */

  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: large;

  line-height: 180%;
  text-wrap: wrap;
}

.contactHead h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.contactBody {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.skills {
  border: 2px solid rgba(3, 12, 43, 0.943);
  border-radius: 25%;
  padding: 2px 25px;
}

#SkillHeading {
  font-family: "Rowdies", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.showAllLink {
  text-decoration: none;
  color: black;
}

#technicalSkillSect {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
}

.skills {
  font-family: "Rowdies", sans-serif;
  font-weight: 100;
  font-size: 20px;
  font-style: normal;
}

.skills:hover {
  color: rgb(0, 72, 255);
  border: 2px solid aqua;
  cursor: cell;
}

#webTechnicalSkillSect {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
}

#databasesSkillSect {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
}

#toolsAndPlateformSkillSect {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
}

.projectCardImg {
  object-fit: contain;
  width: 90%;
  height: 250px;
}

.projectCard {
  margin: 1%;
  height: 400px;
}

.card {
  width: 20%;
  border: 2% solid burlywood;
}
